@model Cancun.App.ViewModels.ReservationViewModel

@{
    ViewData["Title"] = "Remove Reservation - " + Model.Id;
}

<h4 style="padding-top: 50px">@ViewData["Title"] </h4>

<h5>Você tem certeza disso?</h5>

<div class="row">
    <div class="col-md-6">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.SuiteId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Suite.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CheckIn)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CheckIn)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CheckOut)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CheckOut)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PriceTotal)
            </dt>
            <dd>
                @Model.PriceTotal.ToString("C")
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ApplicationUserId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ApplicationUser.Email)
            </dd>
        </dl>

        <div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Remove" class="btn btn-danger" />
                <a class="btn btn-info" href="javascript:window.history.back();">Return</a>
            </form>
        </div>
    </div>
</div>
