@model Cancun.App.ViewModels.ReservationViewModel

@{
    ViewData["Title"] = "Reservation Datail - " + Model.Id;
}

<h4 style="padding-top: 50px">@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.SuiteId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Suite.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CheckIn)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CheckIn)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CheckOut)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CheckOut)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PriceTotal)
            </dt>
            <dd>
                @Model.PriceTotal.ToString("C")
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ApplicationUserId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ApplicationUser.Email)
            </dd>
        </dl>

        <div>
            <a supress-by-claim-name="Reservation" supress-by-claim-value="Edit" class="btn btn-dark" sp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            <a class="btn btn-info" href="javascript:window.history.back();">Return</a>
        </div>
    </div>
</div>