@model Cancun.App.ViewModels.SuiteViewModel

@{
    ViewData["Title"] = "Remove " + Model.Name;
}

<h4 style="padding-top: 50px">@ViewData["Title"] </h4>

<h5>Você tem certeza disso?</h5>

<div class="row">
    <div class="col-md-4">
        <img src="~/imagens/@Model.Image" alt="@Model.Image" style="width: 300px; height: 428px" />
    </div>
    <div class="col-md-6">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.HotelId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Hotel.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd>
                @Model.Price.ToString("C")
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.RegistrationDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RegistrationDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Active)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Active)
            </dd>
        </dl>

        <div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Remove" class="btn btn-danger" />
                <a class="btn btn-info" href="javascript:window.history.back();">Return</a>
            </form>
        </div>
    </div>
</div>
